# Git
.git
.gitignore

# Development
.devcontainer
.vscode
*.swp
*~
*.bak

# Documentation
doc/
README.md
LICENSE

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
._*

# Local files
source.sh
run/
bin/
data/
notes/
env/
**inputs/
**outputs/
